@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Index>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}

<div class="container">

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-md-7 mb-4">
            <div class="view overlay z-depth-1-half">
                <img src="~/img/blackboard-lightbulb-med-narrow-2.jpeg"  class="card-img-top" alt=""/>
                <div class="mask rgba-white-ligh"></div>
            </div>


        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-md-5">
            <h2>Welcome to AlephSky!!!</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas molestie lacinia metus in porttitor. Vestibulum eget nisl ex. Integer gravida cursus est id blandit. Duis eget dictum nulla. Proin dapibus quam lectus, pellentesque rhoncus metus feugiat faucibus. Sed vestibulum porta lacus, sit amet facilisis massa iaculis eu. In a lacinia dolor, at dictum urna. Morbi malesuada dignissim ligula, vel gravida sapien. Donec feugiat elit eget venenatis gravida. Mauris at condimentum sapien. Integer hendrerit auctor mi ac vehicula.</p>

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->
    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12">



        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-4 col-md-6">



        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-4 col-md-6">



        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</div>
<!--Main container-->