@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Index>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}

<div class="container">

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-md-7 mb-4">
            <div class="view overlay z-depth-1-half">
                <img src="~/img/blackboard-lightbulb-med-narrow-2.jpeg"  class="card-img-top" alt=""/>
                <div class="mask rgba-white-ligh"></div>
            </div>


        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-md-5">
            <h2>Welcome to AlephSky!!!</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas molestie lacinia metus in porttitor. Vestibulum eget nisl ex. Integer gravida cursus est id blandit. Duis eget dictum nulla. Proin dapibus quam lectus, pellentesque rhoncus metus feugiat faucibus. Sed vestibulum porta lacus, sit amet facilisis massa iaculis eu. In a lacinia dolor, at dictum urna. Morbi malesuada dignissim ligula, vel gravida sapien. Donec feugiat elit eget venenatis gravida. Mauris at condimentum sapien. Integer hendrerit auctor mi ac vehicula.</p>

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->
    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Networking and Infrastructure</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut sagittis sem. Morbi tellus odio, fringilla id turpis sed, posuere cursus ipsum. Aliquam erat volutpat. Mauris fermentum enim eu lectus vestibulum suscipit vitae eu enim. Integer non nibh a neque lacinia pharetra. Pellentesque ipsum augue, placerat eget tortor et, posuere hendrerit nulla. Nunc mollis libero sed nibh accumsan, in mollis nisi accumsan. Phasellus ultricies urna ac vestibulum porta. Aenean id purus dui. Sed vestibulum nibh quam, id faucibus ex hendrerit nec. Aenean turpis quam, bibendum eget vulputate a, rutrum vitae nulla. Maecenas lobortis lacus nec volutpat tempor. Quisque quis dapibus dolor, at convallis risus.</p>
                </div>
            </div>
            

        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Software Development</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec venenatis tincidunt sagittis. Praesent orci arcu, egestas sed odio eu, laoreet vestibulum urna. Nam luctus dui sem, sit amet varius eros dignissim in. Donec tempus pharetra nunc, ut ullamcorper orci interdum vel. Duis dapibus quam sit amet vulputate imperdiet. Aenean massa dolor, luctus vel sem eget, congue tempor quam. Pellentesque et pretium nibh. Aenean massa leo, euismod id bibendum in, dictum sed neque. Fusce pulvinar, eros ac sodales aliquet, orci mi porttitor ante, non iaculis elit enim sit amet magna. Integer eget arcu eget elit tempor varius ac sit amet mi. Cras commodo eget diam ac tempus. Praesent sit amet vestibulum metus.</p>
                </div>
            </div>
            

        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">About</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique ipsum sit amet diam facilisis consectetur. Donec eu arcu eget massa congue maximus eu sed lectus. Curabitur ut est sagittis, sollicitudin justo in, iaculis libero. Aenean fringilla ligula sed justo convallis pretium. Nunc sit amet viverra felis, vel convallis metus. Nulla dapibus lacus quis dolor tristique, vitae imperdiet nunc maximus. Morbi auctor, erat in laoreet porta, odio enim suscipit nulla, vel auctor felis est vitae nisi. Phasellus eget neque nec augue fermentum tincidunt et non tellus. Aliquam finibus ultrices dolor, a mattis mauris posuere placerat. Praesent luctus eros a tempor facilisis. Sed rutrum vel neque in dictum. Proin malesuada est dictum purus molestie, sed blandit diam tempus. Integer vehicula blandit diam id tincidunt.</p>
                </div>
            </div>
        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</div>
<!--Main container-->